*.idea*
*.a
quic-lb-proxygen/proxygen/_build/deps/mvfst/**/*.a
quic-lb-proxygen/proxygen/_build/deps/mvfst/**/*.o
*cmake-build*
*.qlog
.vscode
./quic-lb-proxygen/proxygen/_build/bin/proxygen_h3datagram_client
./quic-lb-proxygen/proxygen/_build/bin/proxygen_echo
./quic-lb-proxygen/proxygen/_build/bin/proxygen_httperf2
./quic-lb-proxygen/proxygen/_build/bin/hq
./quic-lb-proxygen/proxygen/_build/bin/proxygen_static
./quic-lb-proxygen/proxygen/_build/bin/proxygen_proxy
./quic-lb-proxygen/proxygen/_build/bin/proxygen_push
./quic-lb-proxygen/proxygen/_build/bin/proxygen_curl
./quic-lb-proxygen/proxygen/_build/proxygen/httpclient/samples/H3Datagram/proxygen_h3datagram_client
./quic-lb-proxygen/proxygen/_build/proxygen/httpclient/samples/httperf2/proxygen_httperf2
./quic-lb-proxygen/proxygen/_build/proxygen/httpclient/samples/curl/proxygen_curl
./quic-lb-proxygen/proxygen/_build/proxygen/httpserver/proxygen_echo
./quic-lb-proxygen/proxygen/_build/proxygen/httpserver/hq
./quic-lb-proxygen/proxygen/_build/proxygen/httpserver/proxygen_static
./quic-lb-proxygen/proxygen/_build/proxygen/httpserver/tests/HTTPServerTests
./quic-lb-proxygen/proxygen/_build/proxygen/httpserver/proxygen_proxy
./quic-lb-proxygen/proxygen/_build/proxygen/httpserver/proxygen_push
./quic-lb-proxygen/proxygen/_build/proxygen/lib/transport/test/TransportTests
./quic-lb-proxygen/proxygen/_build/proxygen/lib/libproxygen.a
./quic-lb-proxygen/proxygen/_build/proxygen/lib/sampling/test/SamplingTest
./quic-lb-proxygen/proxygen/_build/proxygen/lib/utils/test/AsyncTimeoutSetTest
./quic-lb-proxygen/proxygen/_build/proxygen/lib/utils/test/UtilTests
./quic-lb-proxygen/proxygen/_build/proxygen/lib/utils/test/TraceEventTest
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/test/LibHTTPTests
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/connpool/test/ConnpoolTests
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/codec/test/HQCodecTests
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/codec/test/CodecTests
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/structuredheaders/test/StructuredHeadersTests
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/session/test/CMakeFiles/SessionTests.dir/HTTPUpstreamSessionTest.cpp.o
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/session/test/CMakeFiles/SessionTests.dir/HTTPDownstreamSessionTest.cpp.o
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/session/test/CMakeFiles/HQSessionTests.dir/HQUpstreamSessionTest.cpp.o
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/session/test/CMakeFiles/HQSessionTests.dir/HQByteEventTrackerTest.cpp.o
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/session/test/CMakeFiles/HQSessionTests.dir/HQDownstreamSessionTest.cpp.o
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/session/test/SessionTests
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/session/test/HQSessionTests
./quic-lb-proxygen/proxygen/_build/proxygen/lib/services/test/AcceptorTest
./quic-lb-proxygen/proxygen/_build/lib/libproxygen.a
./quic-lb-proxygen/proxygen/_build/deps/bin/fizz-bogoshim
./quic-lb-proxygen/proxygen/_build/deps/bin/fizz
./quic-lb-proxygen/proxygen/_build/deps/wangle/build/lib/libwangle.a
./quic-lb-proxygen/proxygen/_build/deps/lib/libmvfst_server.a
./quic-lb-proxygen/proxygen/_build/deps/lib/libmvfst_cc_algo.a
./quic-lb-proxygen/proxygen/_build/deps/lib/libwangle.a
./quic-lb-proxygen/proxygen/_build/deps/lib/libfizz.a
./quic-lb-proxygen/proxygen/_build/deps/lib/libfolly.a
./quic-lb-proxygen/proxygen/_build/deps/mvfst/build/quic/server/libmvfst_server.a
./quic-lb-proxygen/proxygen/_build/deps/mvfst/build/quic/congestion_control/libmvfst_cc_algo.a
./quic-lb-proxygen/proxygen/_build/deps/folly/build/libfolly.a
./quic-lb-proxygen/proxygen/_build/deps/fizz/build/bin/fizz-bogoshim
./quic-lb-proxygen/proxygen/_build/deps/fizz/build/bin/fizz
./quic-lb-proxygen/proxygen/_build/deps/fizz/build/lib/libfizz.a
quic-lb-proxygen/proxygen/_build/**/*.o
quic-lb-proxygen/proxygen/_build/**/*.a
./quic-lb-proxygen/proxygen/_build/bin/proxygen_h3datagram_client
./quic-lb-proxygen/proxygen/_build/bin/proxygen_echo
./quic-lb-proxygen/proxygen/_build/bin/proxygen_httperf2
./quic-lb-proxygen/proxygen/_build/bin/hq
./quic-lb-proxygen/proxygen/_build/bin/proxygen_static
./quic-lb-proxygen/proxygen/_build/bin/proxygen_proxy
./quic-lb-proxygen/proxygen/_build/bin/proxygen_push
./quic-lb-proxygen/proxygen/_build/bin/proxygen_curl
./quic-lb-proxygen/proxygen/_build/proxygen/httpclient/samples/H3Datagram/proxygen_h3datagram_client
./quic-lb-proxygen/proxygen/_build/proxygen/httpclient/samples/httperf2/proxygen_httperf2
./quic-lb-proxygen/proxygen/_build/proxygen/httpclient/samples/curl/proxygen_curl
./quic-lb-proxygen/proxygen/_build/proxygen/httpserver/filters/tests/HTTPServerFilterTests
./quic-lb-proxygen/proxygen/_build/proxygen/httpserver/proxygen_echo
./quic-lb-proxygen/proxygen/_build/proxygen/httpserver/hq
./quic-lb-proxygen/proxygen/_build/proxygen/httpserver/proxygen_static
./quic-lb-proxygen/proxygen/_build/proxygen/httpserver/tests/HTTPServerTests
./quic-lb-proxygen/proxygen/_build/proxygen/httpserver/proxygen_proxy
./quic-lb-proxygen/proxygen/_build/proxygen/httpserver/proxygen_push
./quic-lb-proxygen/proxygen/_build/proxygen/lib/transport/test/TransportTests
./quic-lb-proxygen/proxygen/_build/proxygen/lib/transport/test/CMakeFiles/TransportTests.dir/H3DatagramAsyncSocketTest.cpp.o
./quic-lb-proxygen/proxygen/_build/proxygen/lib/libproxygen.a
./quic-lb-proxygen/proxygen/_build/proxygen/lib/sampling/test/SamplingTest
./quic-lb-proxygen/proxygen/_build/proxygen/lib/utils/test/AsyncTimeoutSetTest
./quic-lb-proxygen/proxygen/_build/proxygen/lib/utils/test/UtilTests
./quic-lb-proxygen/proxygen/_build/proxygen/lib/utils/test/TraceEventTest
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/test/LibHTTPTests
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/connpool/test/ConnpoolTests
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/connpool/test/CMakeFiles/ConnpoolTests.dir/SessionPoolTest.cpp.o
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/codec/compress/test/HPACKTests
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/codec/test/HQCodecTests
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/codec/test/CodecTests
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/codec/test/HQFramerTests
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/structuredheaders/test/StructuredHeadersTests
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/session/test/CMakeFiles/SessionTests.dir/HTTPUpstreamSessionTest.cpp.o
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/session/test/CMakeFiles/SessionTests.dir/HTTPDownstreamSessionTest.cpp.o
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/session/test/CMakeFiles/SessionTests.dir/MockCodecDownstreamTest.cpp.o
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/session/test/CMakeFiles/HQSessionTests.dir/HQUpstreamSessionTest.cpp.o
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/session/test/CMakeFiles/HQSessionTests.dir/HQByteEventTrackerTest.cpp.o
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/session/test/CMakeFiles/HQSessionTests.dir/HQDownstreamSessionTest.cpp.o
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/session/test/CMakeFiles/HQSessionTests.dir/HQSessionMocksTest.cpp.o
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/session/test/SessionTests
./quic-lb-proxygen/proxygen/_build/proxygen/lib/http/session/test/HQSessionTests
./quic-lb-proxygen/proxygen/_build/proxygen/lib/services/test/AcceptorTest
./quic-lb-proxygen/proxygen/_build/lib/libproxygen.a
./quic-lb-proxygen/proxygen/_build/deps/bin/fizz-bogoshim
./quic-lb-proxygen/proxygen/_build/deps/bin/fizz
./quic-lb-proxygen/proxygen/_build/deps/wangle/build/lib/libwangle.a
./quic-lb-proxygen/proxygen/_build/deps/lib/libmvfst_server.a
./quic-lb-proxygen/proxygen/_build/deps/lib/libmvfst_cc_algo.a
./quic-lb-proxygen/proxygen/_build/deps/lib/libwangle.a
./quic-lb-proxygen/proxygen/_build/deps/lib/libfizz.a
./quic-lb-proxygen/proxygen/_build/deps/lib/libmvfst_transport.a
./quic-lb-proxygen/proxygen/_build/deps/lib/libfolly.a
./quic-lb-proxygen/proxygen/_build/deps/mvfst/build/quic/server/libmvfst_server.a
./quic-lb-proxygen/proxygen/_build/deps/mvfst/build/quic/api/libmvfst_transport.a
./quic-lb-proxygen/proxygen/_build/deps/mvfst/build/quic/congestion_control/libmvfst_cc_algo.a
./quic-lb-proxygen/proxygen/_build/deps/folly/build/libfolly.a
./quic-lb-proxygen/proxygen/_build/deps/folly/.git/objects/pack/pack-58d561c39ac6e3d96929d56beecdcd41f7505bc7.pack
./quic-lb-proxygen/proxygen/_build/deps/fizz/build/bin/fizz-bogoshim
./quic-lb-proxygen/proxygen/_build/deps/fizz/build/bin/fizz
./quic-lb-proxygen/proxygen/_build/deps/fizz/build/lib/libfizz.a
